@import url('https://fonts.googleapis.com/css2?family=Play&family=Rajdhani:wght@400;500&display=swap');

* {
    font-family: 'Play', sans-serif;
}

*::selection {
    background-color: #232323;
    color: #ebebeb;
}

body {
    margin: 0;
    background-color: #cbcbcb;
}

.indispo {
    width: 100vw;
    height: 100vw;
    color: #232323;
    font-size: 35px;
}

header.nav-bar {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #535353;
}

a {
    text-decoration: none;
}

img#logo-nav-bar {
    height: max-content;
    margin-top: 0px;
    margin-left: 15px;
}

div.buttons-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.button-c {
    font-size: 24px;
    padding: 10px 15px 10px 15px;
    border: 2.5px solid;
    border-radius: 20%/50%;
    background-color: #ebebeb;
}

.button-c:hover {
    background-color: #cbcbcb;
}

.button-c>a {
    color: #232323;
}

div.button-games {
    padding: 10px 20px;
}

div.buttons-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    /*width: 30%;*/
    width: 20%;
}

/* .search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    border: #ebebeb;
    border-radius: 5%/45%;
    background-color: #cbcbcb;
}

.search-bar {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 2.5px;
    padding-right: 5px;
}

#search-bar {
    display: inline-block;
    border: none;
    height: 2.1em;
    width: 65%;
    color: #177ec4;
    font-size: 20px;
    text-align: center;
    background-color: #cbcbcb;
}

#search-bar::placeholder {
    color: #177ec4;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    text-decoration: underline solid #177ec4 2.5px;
    text-underline-position: under;
    background-color: #cbcbcb;
    opacity: 1;
}

#point-separation {
    font-size: 24px;
    color: #cbcbcb;
}

#list-btn {
    margin-right: 20px;
} */

#list-btn:hover {
    transition: ease .40s;
    border: 2.5px solid;
    border-radius: 35%/45%;
    background-color: #ebebeb;
    padding: 2.5px 5px;
}

.container-img {
    position: relative;
}

.overlay-list {
    display: none;
    width: 500%;
}

.overlay-list>a {
    display: inline-block;
    margin: 5px 15px;
}

.container-img:hover .overlay-list {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin-top: -15%;
    height: auto;
    font-size: 26px;
    text-align: center;
    background-color: #ebebeb;
}

.change-langage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 10px; */
    width: 50%;
    border-radius: 10px;
    background-color: #ebebeb;
}

.change-langage button[type="submit"] {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30%;
    padding: 0;
    cursor: pointer;
}

.list-langage {
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    width: 100px;
    background: url(img/list-language.png) no-repeat right #dedede;
    -webkit-appearance: none;
    background-position-x: 75px;
    cursor: pointer;
}

.list-langage:hover {
    background-color: #dedede;
}

/* div.separation {
    content: "";
    display: inline-block;
    width: 2px;
    height: 35px;
    margin-top: 10px;
    background: black;
}

.button-connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 4px 2px;
    width: 40%;
    height: 2em;
    background-color: #535353;
    border: none;
    border-radius: 10px;
}

.button-connect:hover {
    background-color: rgba(73, 73, 73);
    border-radius: 10px;
}

.connect-items {
    display: inline;
    font-size: 17px;
}

.button-connect > img {
    height: 100%;
} */

.header {
    display: flex;
    background: #dbdbdb;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logo-header {
    width: 25%;
    height: auto;
}

h1 {
    text-align: center;
    text-decoration: none;
    color: #49a5e3;
    font-size: 32px;
}

h2 {
    text-align: center;
    text-decoration: none;
    color: #107fc5;
    font-size: 25px;
}

.header>p {
    text-align: center;
    text-decoration: none;
    color: #12a7d5;
    font-size: 22px;
}

.sections-games {
    margin-top: 7.5vh;
    text-align: center;
}

h3 {
    font-size: 32px;
    color: #343434;
    text-shadow: 1px 1px 2px #535353;
}

.games-grids {
    position: relative;
    margin-top: 7.5vh;
    margin-left: 12.5%;
    display: grid;
    grid-template: 1fr 2fr 1fr / repeat(3, 1fr);
    gap: .5em;
    width: 75%;
    height: 35em;
}

.game {
    background-color: #434343;
    border: 2px solid #343434;
}

.game-1 {
    grid-area: 1/1/2/3;
}

.game-2 {
    grid-area: 1/3/3/4;
    flex-direction: column;
}

.game-3 {
    grid-area: 2/1/4/2;
    flex-direction: column;
}

.game-4 {
    grid-area: 2/2/2/3;
    flex-direction: column-reverse;
}

.game-5 {
    grid-area: 3/2/4/4;
}

.container-overlay-game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.container-game-2,
.container-game-3 {
    flex-direction: column;
}

.container-game-4 {
    flex-direction: column-reverse;
}

.name-game {
    color: #ebebeb;
}

.overlay-game {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #cbcbcb;
}

.container-overlay-game:hover .overlay-game {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin-top: 5%;
    background: #232323;
    padding: 1%;
}

footer * {
    list-style-type: none;
    color: #cbcbcb;
    font-size: 16px;
    height: min-content;
    width: max-content;
    margin: 0;
    padding: 10px 0px 0px 0px;
}

footer h6 {
    font-size: 18px;
}

.other-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-footer a {
    display: flex;
    align-items: center;
}

.logo-contact {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

footer hr {
    width: 100%;
    margin: 5px 0px;
    padding: 0;
}

.container-switch {
    display: flex;
    align-items: center;
}

#switch {
    opacity: 0;
    width: 0;
    height: 0;
}

.container-switch span {
    display: block;
    width: 5em;
    height: 2em;
    padding: 0;
    border-radius: 1em;
    background-color: #ebebeb;
    transition: background .2s ease-in-out;
}

.container-switch span::after {
    content: "";
    display: inline-block;
    width: 45%;
    height: 1.5em;
    margin: 5%;
    border-radius: 1em;
    background: #dbdbdb center url(img/sun.png) no-repeat;
    background-size: contain;
    transition: all .5s ease;
}

#switch:checked+span {
    background: #535353;
}

#switch:checked+span::after {
    background-image: url(img/moon.png);
    transform: translateX(100%);
}